
.side-area
{
    padding: 0;
    height: 1000px;
    overflow-y:auto
    
}
.side-area::-webkit-scrollbar {
    display: none;
}
.main-cont
{
    margin-bottom: 60px;

}



.side-area .search-btn
{
    background-color: #009933d7;
    border: none;
    margin:10px auto;
    transition: all 0.3s;
}
.side-area .search-btn:hover
{
    background-color: #009933;
    transform: scale(1.05);
}
.side-area .search-btn:focus
{
    background-color: #009933;  
}
.category-btn
{
    background-color: #009933d7 !important;
    border: none !important;
    transition: all 0.3s;
}

.category-col .card
{
    height: 300px;
}
.category-col .card-img
{
    height: 100% !important;
}
.search-form
{
    margin:20px auto;
}
.side-area h4
{
    text-align: center;
    margin-top: 15px;
}
.pagination 
{   
    width: 80%;
    margin:20px auto;
    overflow: auto;

}
.pagination .page-link
{
    color:#009933d7;
}

.pagination .page-link:hover
{
    color:gray;
}

.pagination .active .sr-only
{
    display: none;
    background-color: #009933d7;
}
.page-item.active .page-link
{
    z-index: 0 !important;
    background-color: #009933d7 !important;
    border:1px solid #009933d7 !important;
}
.mobile-search
{
    display: none;
    text-align: center;
    padding: 30px;
}
.mobile-search .search-btn{
    margin-bottom: 10px;
    background-color: #009933d7;
    border: none;
}
.mobile-search .search-btn:focus{
    outline: none;
    border: none;
}
.form-group .form-control
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.carousel-item img
{
    background-size: cover;
    opacity: 0.7;
    height: 100%;
    
    
}
.carousel-inner,.carousel-item
{
    height: 100%;
}
.carousel
{
    padding: 0 !important;
    height: 300px;
    background-image: linear-gradient(black,black);
}
.carouse-caption h1{
    text-shadow: 6px 6px 16px black;
}
.carousel-caption h1 a
{
    color: white !important;
    text-decoration: none !important;
}
.carousel-caption h1 a:hover
{
    color: whitesmoke !important;
}
@media screen and (max-width: 720px) {

    .mobile-search
    {
        display: block;
    }
    .search-form{
        display: none;
    }
  }
.search-btn
{

}

.category-col
{
    width: 100%;
}

.recent-btn
{
    text-decoration: none;
    color: black;
    text-align: center;
}

.recent-btn:hover
{
    text-decoration: none;
    color: #009933;
}